<nav class='top-nav top-nav-light cf' role='navigation'>
  <input id='menu-toggle' class='menu-toggle' type='checkbox'>
  <label for='menu-toggle'>Menu</label>
  <ul class='list-unstyled list-inline cf'>
    <li><a href='/'>/</a></li>
  </ul>
</nav>
