---
title: Hello!
---

<h1>jedcn</h1>
<p>
  Hi there, my name is Jed Northridge.
</p>
<p>
  I work with software. I build products, I lead teams, I help people
  succeed.
</p>

<h3>More?</h3>
<p>
  I write about the software I make in my spare time at
  <%= link_to 'https://jedcn.github.io/', 'https://jedcn.github.io/' %>
</p>
<p>
  I maintain an online
  <%= link_to 'resume', '/resume/' %> and a
  <%= link_to 'description of the work I do', '/work/' %>.
</p>

<h3>Talk?</h3>
<p>
  If you'd like to get in touch, <%= link_to 'email', 'mailto:hi@jedcn.com' %>
  is probably best.
</p>
