---
title: Hello!
---

<h1>jedcn</h1>
<section>
  <p>
    Hi there, my name is Jed Northridge.
  </p>
  <p>
    I work with software. I lead teams, I mentor people, I build
    products.
  </p>
  <p>
    If you'd like to get in touch, <%= link_to 'email', 'mailto:hi@jedcn.com' %>
    is probably best.
  </p>
</section>

<section>
  <h3>Side Projects</h3>
  <p>
    I write about the software I make in my spare time at
    <%= link_to 'https://jedcn.github.io/', 'https://jedcn.github.io/' %>
  </p>
</section>

<section>
  <h3>Work</h3>
  <p>
    I maintain an online
    <%= link_to 'resume', '/resume' %> and a
    <%= link_to 'description of the work I do', '/work' %>.
  </p>
</section>
