---
title: Hello!
---

<h2>Hi there,</h2>

<p>
  My name is Jed Northridge, and I make software.
</p>

<p>
  I build products. I lead teams. I help people succeed.
</p>

<a href="/about/" title="Learn More" class="button button-primary">Learn More</a>
