---
title: Hello!
---
<h1>jedcn</h1>
<section>
  <p>
    Hi there, my name is Jed Northridge.
  </p>
  <p>
    I write the software that ends up at
    <%= link_to 'https://github.com/jedcn', 'https://github.com/jedcn' %>
  </p>
  <p>
    If you'd like to get in touch, <%= link_to 'email', 'mailto:hi@jedcn.com' %>
    is probably best.
  </p>
</section>
