---
layout: default
---

<div class="blog-index">
  <article class="hentry">

    <h1>Hi there,</h1>

    <p>
      My name is Jed Northridge, and these are some notes I've taken.
      There's not much here: just {{ paginator.total_posts }} posts in
      all. The most recent one is below, and the remainder are
      available in <a href="/blog/archives">archives section</a>.
    </p>

  </article>

  {% assign index = true %}
  {% for post in paginator.posts %}
  {% if post == paginator.posts.first %}
    {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
  {% endif %}
  {% endfor %}

</div>

<aside class="sidebar">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
