---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>jedcn</h1>
  <p class="doc">
    <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
